<div class="topbar">
  <div class="mr-4">
<!--    <h5 style="cursor: pointer;color: #1376cd; outline: 0;" routerLink="/">-->
<!--      <strong>Plaza</strong>-->
<!--    </h5>-->
  </div>
  <div class="mr-2 d-none d-md-block">
  </div>
  <div class="mb-0 mr-auto d-xl-block d-none">
  </div>
  <div class="mr-4  d-sm-block">
  </div>
  <div class="mr-4  d-sm-block">
<!--    <cui-topbar-language-switcher></cui-topbar-language-switcher>-->

  </div>
  <div class="mr-4">
    <cui-topbar-user-menu></cui-topbar-user-menu>
  </div>
</div>
